* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #a04c7d, #bd8bbe);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card container */
.card {
  background: rgb(236, 138, 184);
  padding: 30px;
  width: 600px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Heading */
.card h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f50776; /* NOT black */
}

/* Textarea */
.card textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #da089b;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

/* Button */
.card button {
  width: 100%;
  padding: 14px;
  font-size: 32px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #964b83, #662f85);
  color: rgb(5, 255, 222);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
